</div>
  </main>
  
  <footer class="main-footer">
    <div class="container">
      <p>&copy; <%= new Date().getFullYear() %> EasySplit. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
